* {
    
    margin: 0%;
}

.container {
    background-color: indigo;
    color: white;
    padding: 20px;
    text-decoration: underline wavy white;
}

.container h1 {
    font-size: xx-large;
    
}

.container nav li {
    display: inline;
    float: right;
    width: 100px;
    
}

.container nav a {
    color:white;
    margin-bottom: 50px;
    text-decoration: none;
    font-size: large;
}

.background-image {
    background-image: url("./Images/background.jpg");
    background-size: cover;
    background-position:center;
    width: 100%;
    height: 800px;
    
}

.top-left {
    color: white;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 300px;
    left: 34px;
}

button {
    color: black;
    top: 350px;
    left: 55px;
    position: absolute;
    
}

button:hover {
    background-color: indigo;
}