* {
    
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    background-color: indigo;
    color: white;
    padding: 20px;
    text-decoration: underline wavy white;
}

.container h1 {
    font-size: xx-large;
    
}

.container nav li {
    display: inline;
    float: right;
    width: 100px;
    margin-top: -15px;
}

.container nav a {
    color:white;
    margin-bottom: 50px;
    text-decoration: none;
    font-size: large;
}

.background-image {
    background-image: url("./Images/background.jpg");
    background-size: cover;
    background-position:center;
    width: 100%;
    height: 800px;
    
}

.top-left {
    color: white;
    font-size: xx-large;
    position: absolute;
    top: 300px;
    left: 34px;
}

button {
    color: black;
    top: 350px;
    left: 55px;
    position: absolute;
    
}

button:hover {
    background-color: indigo;
}

#myself {
    float: right;
    height: 180px;
    
}

.bottom-row {
    border: 10px dotted indigo;
    width:100%;
    height: 200px;
}

.bottom-row h2 {
    font-size: larger;
    left: 100px;
    padding: 10px;
}

.bottom-row p {
    color:blueviolet;
}


.right {
   float: right;
    background-color: indigo;
    margin-top: 0px;
    height: 450px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    

}


.card {
    border: 2px solid white;
    margin: 50px;
    box-shadow: 10px 10px 10px grey;
    height: 223px;
    border-radius: 10px;
    transform: rotate(2deg); 
}

.image-header{
    text-align: center;
    background-color: lightblue;
    width: 200px;
    font-size: larger;
    height: 20px;
    border-radius: 10px 10px 0px 0px;
}

.side-styling {
    width: 200px;
    float: right;
    height: 200px;
    border-radius: 0px 0px 10px 10px;
}

.header h2 {
    color:white;
    font-size: x-large;
    
}

.text1{
    color: white;
    margin-top: 85px;
    
}

.card2 {

    margin-top: 200px;
    border: 2px solid white;
    box-shadow: 10px 10px 10px grey;
    height: 223px;
    border-radius: 10px;
    transform: rotate(-2deg);
}

.text2 {
    color: white;
    margin-top: 200px;
    padding: 20px;
    
}


.one-row {
   
    display: inline-block;

}

.one-row h2 {
    text-align: center;
}


#placeholder-image {
    border: indigo solid 2px;
    margin-right: 10px;
    margin-left: 20px;
    
}


.one-row p {
    margin-left: 20px;

}





